.room-container{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    
    .room-options{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .room{
            cursor: pointer;
            transition: 0.3s;

            :last-child{
                width: inherit;
            }
    
            img{
                max-width: 100%;
                width: 400px;
                height: 400px;
                // height: auto;   
                display: block;
            }
    
            // &:hover{
            //     transform: scale(1.01);
            // }
        }

        .current{
            border: 4px solid #fff;
            transform: scale(1.01);
        }
    }

}