.results-container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    .result-image{
        width: 65%;
        height: 100%;
        border-radius: 5px ;
    }

    .right-side{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 2.3rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            text-align: center;
            color: black;
        }

        span{
            text-transform: uppercase;
            color: black;
        }
    }
}