.barbeque-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    canvas{
        max-width: 100%;
        min-width: 30%;
        height: auto;   
        display: block;
    }

    .barbeque-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

        .barbeque-option{
            max-width: 100%;
            height: auto;   
            display: block;
            cursor: pointer;
            transition: 1.03s;

            &:hover{
                transform: scale(1.03);
            }

        }
    }
}

