.environment{
        
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    canvas{
        max-width: 100%;
        height: auto;   
        display: block;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .env-options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .2rem;

        .option{
            border-radius: 50%;
            background-color: black;
            height: 50px;
            width: 50px;
            
            transition: 0.3s;
            cursor: pointer;
            
            &:hover{
                transform: scale(1.04);
            }
        }

        .current{
            // height: 70px;
            // width: 70px;
            border: 3px solid black;
            transform: scale(1.02);
        }
    }
    
}