.download-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #2f2f2d;

    img{
        max-width: 90%;
        height: auto;
        display: block;
        border-radius: 5px;
    }

    button{
        background-color: #f9bd00;
        color: white;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
    }
}